html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}




body {
    background-color: white
}
.container-fluid {
  background-color:beige;
}


.logors {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;
}

img {
  border-radius: 5%;


}

#cuadro {
  border:  5px solid  black;
  border-radius: 10px 100px / 120px;
  background-color:gray;
  color: white;
  padding: 10px;
  box-shadow: 3px 4px 8px rgba(0,0,0,.6);
}
#text {
  text-align: center;
  font-size: large;
  vertical-align: middle;
  margin: 10px;
  padding: 10%;
}


footer {
  width: 100%;
  bottom: 0;
  background-color: #222;
  color: #fff;
  text-align: center;
  

}
.carrusel {
   display: flex;
   overflow-x: auto;
   gap: 5px;
   margin: 15px;
 
}

#carrusels {
  background-color:rgb(143, 167, 143);
}

#contactForm {
  margin-left: 100px;
  margin-right: 100px;
}
 /* Style the navigation bar */
 .navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color:chartreuse;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #04AA6D;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  } 

  